<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <table border="1">
        <tr> 
            <th>StuName</th> 
            <th>RollNo</th> 
            <th>Program</th> 
            <th>Sem</th> 
        </tr>
        <% d.forEach(ele => { %>
            <tr> 
                <td><%= ele.stuName %></td> 
                <td><%= ele.rollNo %></td> 
                <td><%= ele.prog %></td> 
                <td><%= ele.sem %></td> 
            </tr>
        <% }) %>
    </table>
</body>
</html>
